/* reset */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
/* reset end */

body {
  padding-top: 100px;
}

/**
  |============================
  | Flexbox layout
  |============================
*/
.flex-container {
  /*
  Default properties
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  */

  width: 800px;
  padding: 20px;
  margin: 0 auto;

  background-color: lightblue;
  border-radius: 10px;
}

.flex-container.team {
  margin-top: 50px;
  background-color: blueviolet;
}
.flex-element {
  /*
  Default properties
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 0;
  */

  width: 150px;
  height: 150px;

  font-size: 3em;
  line-height: 150px;
  color: white;
  text-align: center;

  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .flex-element:nth-child(3) {
  font-size: 6em;
} */
/* .flex-element:last-child {
  margin: 0;
} */

/* .flex-element:not(:first-child) {
  margin-left: 20px;
} */

:root {
  --indent: 20px;
  --items: 3;
}

.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: var(--indent);
}

.flex-element {
  flex-shrink: 1;
  flex-grow: 0;
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.gallery {
  --items: 4;
  --indent: 40px;
}

.team {
  --items: 5;
}

/*
Ширина трьох елементів в контейнері = 860px - 40px = 820px
Ширина одного елемента = 820px / 3 (елементи) = 273.33px
*/

.container {
  display: flex;
  gap: 30px;

  width: 800px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;

  background-color: lightgray;
}
.left {
  width: 100px;
  background-color: darkgoldenrod;
}
.middle {
  flex-grow: 1;
  background-color: darkred;
}
.right {
  flex-grow: 2;
  background-color: darkgreen;
}
